<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="styles.css">
  </head>
   <body>
   <div class="header">
      <div class="container">
        <div class="logo">
        <h1><a href="#">Project</a></h1>  
        </div>
      </div>
    </div>
    <div class="container">
        <form action="/new" class="form-inline" method="POST" enctype="multipart/form-data">
          <label for="name">Name:</label>
          <input type="text" placeholder="Food Item" id="name" name="name">
          <label for="price">Price:</label>
          <input type="text" placeholder="Price" id="price" name="price">
          <label for="weight">Weight:</label>
          <input type="text" placeholder="Weight" id="weight" name="weight">
          <input type="file" name="file" >
          <input type="submit" value="upload">
        </form>
    </div>   
   </body>
</html>



